body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #f1f1f1;
    padding: 20px;
    margin: 40px;
    text-decoration: none;
}

h1 {
    color: #333;
    font-size: 50px;
}

.middle-part {
    display: flex;
    justify-content: space-between;
    margin-right: 600px;
    padding-bottom: 10px;
    }

.middle-part a {
    text-decoration: none;
    color: #333;
    font-size: 30px;
}

.middle-part a:hover {
    transform: scale(1.1);
    text-decoration: underline;
    }

.words {
    padding: 10px;
    font-size: 20px;
    margin-right: 150px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.footer {
    background: white;
    margin: 10px;
    margin-right: 800px;
    padding: 10px;
    border-radius: 30px;
}

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 30px;
}
